@font-face {
  font-family: 'P22';
  src: url('../fonts/2EE463_0_0.eot');
  src: url('../fonts/2EE463_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/2EE463_0_0.woff2') format('woff2'),
  url('../fonts/2EE463_0_0.woff') format('woff'),
  url('../fonts/2EE463_0_0.ttf') format('truetype');}
}

html {
  background-color: black;
}

body {
  background: black;
  text-align: center;
  color: white;
  font-family: "P22";
  text-transform: lowercase !important;
}
body img {
  max-width: 100%;
}

.hero-wrap {
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../img/feels4.gif');
  background-size: cover;
}
.caps {
  text-transform: uppercase;
}
.hero {
  width: 100%;
  max-width: 100%;
}
.internet-wrap img {
  width: 100%;
  max-width: 100%;
}
.spacer {
  height: 50px;
}

.spacer-small {
  height: 25px;
}
.row {
  margin-bottom: 50px;
}
h1, h2, h3 {
  font-family: "P22";
  font-size: 48px;
}
h3 {
  font-size: 28px;
  padding: 14px 0;
  margin-bottom: 20px;
}

.last-p {
  font-size: 18px;
  margin-top: 10px !important;
}
.last-p a, .last-p a:visited {
  color: white;
  text-decoration: underline;
}
.last-p a:hover {
  color: #a8a8a8;
}
.last-paragraph iframe {
  max-width: 800px;
  margin: 0 auto;
}
.col-md-4 a:hover {
  text-decoration: none;
  color: white;
}
.section-titles {
  font-size: 26px;
  text-transform: lowercase;
  font-family: "P22";
  font-style: italic;
  font-weight: 500;
}
.longer-h3 {
  font-size: 28px;
  padding: 14px 0;
}
.centered {
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .bump-left {
    padding-right: 45px;
  }
}
a {
  color: white;
}
a:hover, a:visited {
  color: #fff;
}

button {
  text-transform: none;
  padding: 4px 19px;
  font-size: 35px !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: white;
  background: black ;
  border: 3px solid white;
}

button.home {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .feels-info {
    margin-bottom: 40px;
  }
  .row {
    margin-bottom: 0px;
  }
  .last-p {
    padding: 5px 10px 0px 20px;
    text-align: left;
  }
  .soundcloud {
    margin-top: 20px;
  }
}